
#s5_navv a {
	 font-weight:bold;
     font-size: 11pt;
     float: left;
	 color:#FFFFFF;
	 padding-top:10px;
     display: block;
     cursor: pointer;
	 height:39px;
	 text-shadow:1px 1px 1px #000000;
	 text-decoration:none;
     overflow: hidden; }
	 
#s5_navv .s5_rs a {
	text-shadow:1px 1px 1px #000000;
	padding-right:10px;
	}
	
#s5_nav ul li a {
	height:42px;
	}

#s5_navv ul li ul li a {
	height: 16px;
	line-height: 16px;
	border-right:none;
	background:none;
}

#s5_navv li li a{
	background: none;
	font-weight: normal;
	font-size:9pt;
	padding: 0;
	padding-top:5px;
	padding-left:14px;
	color:#FFFFFF;
}

#s5_navv, #s5_navv ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#s5_navv ul ul a {
	display: block;
	text-decoration: none;
	width: 190px;
	text-transform: none;	
}

#s5_navv li {
	float: left;
	padding: 0;
	height: 54px;
	background:url(../images/s5_menu_sep.png) no-repeat top right;
	padding-left:13px;
	padding-right:10px;
}

#s5_navv ul li {
	position: relative;
}

#s5_navv li ul {
	z-index: 3;
	top: 54px;
	position: absolute;
	left: -999em;
	height: auto;
	width: 218px;
	font-weight: normal;
	border-width: 0;
	margin: 0;
	padding: 0;
}

#s5_navv ul li ul {
	padding: 0;
	margin: 0;
	height:auto;
	background:none;
}

#s5_navv li li {
	float: left;
	padding: 0;
 	width: 218px;
}

#s5_navv li ul ul {
	margin: -64px 0 0 217px;
}

#s5_navv li:hover ul ul, 
#s5_navv li:hover ul ul ul,
#s5_navv li:hover ul ul ul ul,  
#s5_navv li.sfhover ul ul, 
#s5_navv li.sfhover ul ul ul, 
#s5_navv li.sfhover ul ul ul ul {
	position:absolute;
	left: -999em;
	z-index:2;
}

#s5_navv li:hover ul, 
#s5_navv li li:hover ul, 
#s5_navv li li li:hover ul, 
#s5_navv li li li li:hover ul,
#s5_navv li.sfhover ul, 
#s5_navv li li.sfhover ul, 
#s5_navv li li li.sfhover ul,
#s5_navv li li li li.sfhover ul{
	position:absolute;
	z-index: 2;
	left: 0;
}

#s5_navv li:hover, #s5_navv li.sfhover {
	position:relative;
	z-index: 2;
	left: 0;  
}

#s5_navv ul ul {	
	border-width:1px 1px 1px 1px; 
	padding-bottom:0px;
	padding-top:0px;
}

#s5_navv ul ul ul {	
	padding-top:0px;
	padding-bottom:0px;
}


#s5_navv li:hover ul, #s5_navv li.sfhover ul {
	left: 0;
	background-position: 0 0;
}

#s5_navv ul li.active ul li {
padding-left:0px;
}

#s5_navv li.active .s5_rs ul li a {
color:#FFFFFF;
}

#s5_navv ul li:hover a {
color:#828383;
}

#s5_navv ul li.active:hover a { 
color:#FFFFFF;
}

#s5_navv ul li:hover ul li a {
color:#ffffff;
}

.s5_bottom_text {
display:block;
font-size:7pt;
font-style:normal;
color:#FFFFFF;
text-shadow:none;
margin-top:0px;
}

#s5_navv ul li ul li a.parent, #s5_navv ul li ul li a.parent:hover {
	height:17px;
	background:url(../images/s5_menu_parent.png) no-repeat top right;
}

#s5_navv ul li ul li.s5_top_menu_spacer {
background:url(../images/s5_menu_sub_top.png) repeat-x top left;
height:15px;
}

#s5_navv ul li ul li ul li.s5_top_menu_spacer {
background:url(../images/s5_menu_sub_top2.png) repeat-x top left;
height:10px;
}

#s5_navv ul li ul li.s5_bottom_menu_spacer {
background:url(../images/s5_menu_sub_bottom.png) repeat-x bottom left;
height:23px;
}

#s5_navv ul li ul li, #s5_navv ul li ul li.active {
background:url(../images/s5_menu_sub_li.png) no-repeat bottom left;
height: 28px;
}

#s5_navv ul li ul li:hover, #s5_navv ul li ul li.active:hover {
background:url(../images/s5_menu_sub_li_hover.png) no-repeat bottom left;
height: 28px;
}

#s5_navv ul li ul li.s5_top_menu_spacer:hover {
background:url(../images/s5_menu_sub_top.png) repeat-x top left;
height:15px;
}

#s5_navv ul li ul li ul li.s5_top_menu_spacer:hover {
background:url(../images/s5_menu_sub_top2.png) repeat-x top left;
height:10px;
}

#s5_navv ul li ul li.s5_bottom_menu_spacer:hover {
background:url(../images/s5_menu_sub_bottom.png) repeat-x bottom left;
height:23px;
}
