*  {
	margin: 0;
	padding: 0; }


 img, fieldset  { border:none; }
 
 body  {
	color:#55554F;
	font-size:10pt;
	line-height:140%;
	padding-bottom:20px;
	background:url(../images/s5_main_bg.jpg) repeat fixed;
	}
 
a, label  {
	text-decoration: none;
	}
	
.poll label {
	margin-bottom:5px;
	display:block;
	text-align:left;
	}
	
.inputbox {
     border:solid 1px #999999;
     margin-top: 4px;
	 margin-bottom:4px;
	 padding:4px;
	 background:#E6E6E6 url(../images/s5_inputbox.png) repeat-x top left;
}

.inputbox:hover {
	border:solid 1px #666666;
}

h1 {
font-size:15pt;
}

h2 {
font-size:13pt;
}

h3 {
font-size:11pt;
}

h4 {
font-size:10pt;
}

h5 {
font-size:9pt;
}

.sectiontableheader {
	line-height:29px;
	padding:0pt 10px;
	background:#ECECEC;
}

.sectiontableentry1 {
	font-size:9pt;
	padding:7px;
}

.sectiontableentry2 {
	font-size:9pt;
	padding:7px;
	background:#ECECEC;
}
	
a:hover, a:focus  {
	text-decoration:underline; }
 
.latestnews li, .mostread li, .sections li{
	padding:24px;
	padding-bottom:6px;
	padding-top:6px;
	border-bottom:dotted 1px #D3D3D3;
	background:url(../images/arrow.png) no-repeat center left;
}

/* Small text */
.small, .smalldark, .createdate, .mosimage_caption,
.back_button, .pagenavcounter, .pagenav, .pagenavbar, .bannerheader, .bannerfooter  {
     font-size: 8pt;
}

.banneritem, .bannerfooter {
margin-top:8px;
font-size:8pt;
}

.banneritem a {
font-weight:bold;
font-size:10pt;
}

.modifydate {
     font-size: 8pt;
     padding-top: 10px; }

.pagenav, .pagenav_prev, .pagenav_next, .pagenavbar {
     padding: 0 2px;
}

.pagenav {
margin-left:auto;
margin-right:auto;
margin-top:14px;
}

th  {
	padding: 4px;
	font-weight: bold;
 }

fieldset  {
	border-bottom:dotted 1px #5F5F5F;
	padding-top:7px;
	padding-bottom:7px;
	}
	
#form-login fieldset {
	border:none;
	padding-top:0px;
	}
	
#form-login p {
	padding-top:0px;
	}
	
#modlgn_username, #modlgn_passwd {
	width:92%;
	}

fieldset a  {
	font-weight: bold; }


a img  {
	border: none; }
	

/* JOOMLA STYLE
--------------------------------------------------------- */
table.blog  {

}

table.blog .article_seperator  {
	display: block;
	border-bottom:dotted 1px #DDDDDD;
	height: 10px; }


table.contentpane  {
    border-collapse:collapse;
	border-spacing:0px;
	margin:0px;
	padding:0px;
 }

table.contentpaneopen, table.contentpane, table.blog {
width: 100%; }

table.contentpaneopen {
margin-bottom:8px;
}

table.contentpaneopen, table.contentpane {
font-size:10pt;
}

table.contentpane {
margin-top:15px;
}

table.contentpaneopen  {
	border: none; }

table.contenttoc  {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%; }

table.contenttoc a  {
	text-decoration: none; }

table.contenttoc td  {
	padding: 1px 5px 1px 25px; }

table.poll  {
	padding: 0;
	width: 100%;
	border-collapse: collapse; }

table.pollstableborder  {
	padding: 0;
	width: 100%;
	border: none;
 }
 
table.pollstableborder .sectiontableentry2, table.pollstableborder .sectiontableentry1 {
	float:left;
}

table.pollstableborder img  {
	vertical-align: baseline; }

table.pollstableborder td  {
	padding: 2px!important; }

table.searchintro  {
	padding: 10px 0;
	width: 80%; }

.category  {
	font-weight: normal; }

.contentdescription  {
	padding-bottom: 30px; }

table.blog .contentheading  {
	font-weight: normal;
	line-height: normal; }

.contentheading, .contentpagetitle, .componentheading   {
     font-size: 17pt;
	 padding:0px;
	 margin-bottom:10px;
     font-weight: normal;
     line-height: normal; }
	 
.article_column .contentheading .contentpagetitle {
	font-size:13pt;
	}
	
.s5_module_box .contentheading .contentpagetitle {
	font-size:11pt;
	}
	
.article_column .article_separator {
	border-bottom:dotted 1px #cccccc;
	margin-bottom:12px;
	}

.createdate  {
    padding-bottom:5px;
 }

.modifydate  {
	height: 15px; }

.moduletable  {
	padding: 0; }

.mosimage  {
	padding: 0;
	border:1px solid #333333;
	margin:6px;	}

.mosimage img  {
	padding: 0;
	margin: 0!important; }
	
.mosimage_caption {
	background:#333333;
	border-top:1px solid #333333;
	color:#FFFFFF;
	font-size:8pt;
	margin-top:2px;
	padding:1px 2px;}

tr.sectiontableentry1 td  {
	padding: 5px; }

tr.sectiontableentry2 td  {
	padding: 5px; }

div.syndicate div  {
	text-align: center; }
	

a.readon:hover, a.readon:active, a.readon:focus  {	
	text-decoration:underline; }

.article_separator {
line-height:0px;
display:block;
padding-bottom:0px;
}

.article_column {
padding-right:10px;
}

.back_button {
	height:37px;
	padding-top:26px; }

div.back_button a,
div.back_button a:hover,
div.back_button a:active  {
	margin: -2px 0;
	display: block;
	font-weight:bold;
	height:37px;
	text-decoration: none!important; }

.pollstableborder {
margin-top:10px;
margin-bottom:10px;
}

table.pollstableborder td {
background:none;
}
	
.clr {
    clear: both;
}

/* System Standard Messages */
#system-message { margin-bottom: 20px; }

#system-message dd.message ul { background: #C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

label.invalid {
color:#FF0000;
}
label.invalid {
color:red;
}
.invalid {
border-color:#FF0000;
}
.invalid {
border-color:red !important;
}
.tool-tip {
   float: left;
   background: #CCCCCC;
   border: 1px solid #333333;
   padding: 5px;
   color:#000000;
   max-width: 200px;
}

.tool-title {
   padding: 0;
   margin: 0;
   font-weight: bold;
   margin-top: -15px;
   padding-top: 15px;
   padding-bottom: 5px;
   color:#000000;
}

.tool-text {
   color:#000000;
   margin: 0;
}

.rowpadding {
padding: 13px; 
padding-top:7px;
padding-bottom:7px;
}
	
.button, a.readon {
	padding:11px;
	padding-top:10px;
	padding-bottom:5px;
	margin-top:14px;
	margin-bottom:0px;
	border:none;
	font-weight: normal;
	height:24px;
	width:113px;
	overflow:hidden;
	display:block;
	font-size:11pt;
	background:url(../images/s5_button.png) no-repeat top left;
	text-decoration: none; }
	
.button {
padding-top:3px;
}

#cboxLoadedContent .button, #cboxLoadedContent a.readon, .contentpaneopen .button {
height:36px;
margin-top:0px;
}
	

/* BODY ELEMENTS
--------------------------------------------------------- */


#s5_main_body_wrap {
min-height:100%;
width:100%;
background:url(../images/s5_header_bg.jpg) no-repeat top center;
}

#s5_outer_wrap {
position:relative;
}

#s5_header_wrap {
padding-top:1px;
}

.s5_t_shadow {
background:url(../images/s5_menu_t_shadow.png) no-repeat bottom center;
height:17px;
width:871px;
margin-top:-17px;
}

.s5_b_shadow {
background:url(../images/s5_menu_b_shadow.png) no-repeat top center;
height:17px;
width:871px;
margin-bottom:-22px;
position:relative;
}

#s5_logo {
/*background:url(../images/s5_logo.png) no-repeat top left;*/
height:113px;
width:460px;
cursor:pointer;
float:left;
}

.s5_logo_module {
background:none;
height:113px;
width:460px;
cursor:pointer;
float:left;
}

#s5_top_menu {
float:right;
height:74px;
padding-right:10px;
padding-left:0px;
}

.s5_wrap_outer {
margin-left:-4px;
margin-right:-5px;
margin-bottom:10px;
}

.s5_wrap_tl {
background:url(../images/s5_wrap_tl.png) no-repeat top left;
height:25px;
padding-left:29px;
}

.s5_wrap_tr {
background:url(../images/s5_wrap_tr.png) no-repeat top right;
height:25px;
padding-right:29px;
}

.s5_wrap_tm {
background:url(../images/s5_wrap_tm.png) repeat-x top left;
height:25px;
}

.s5_wrap_ml {
background:url(../images/s5_wrap_ml.png) repeat-y top left;
padding-left:25px;
padding-right:25px;
margin-left:0px;
margin-right:0px;
}

.s5_wrap_mr {
background:url(../images/s5_wrap_mr.png) repeat-y top right;
padding-right:25px;
width:100%;
}

.s5_wrap_mm {
background:#F8F8F8;
width:100%;
}

.s5_wrap_bl {
background:url(../images/s5_wrap_bl.png) no-repeat bottom left;
height:25px;
padding-left:29px;
}

.s5_wrap_br {
background:url(../images/s5_wrap_br.png) no-repeat bottom right;
height:25px;
padding-right:29px;
}

.s5_wrap_bm {
background:url(../images/s5_wrap_bm.png) repeat-x bottom left;
height:25px;
}

#s5_menu_search_wrap {
padding-left:1px;
padding-right:1px;
position:relative;
z-index:1;
height:55px;
background:url(../images/s5_menu_bg.png) repeat-x top left;
}

.search .button {
display:none;
}

#s5_search_wrap {
float:right;
}

#s5_search {
padding-top:11px;
padding-right:12px;
}

#s5_navv {
float:left;
}

#s5_search #mod_search_searchword {
background:none;
border:none;
color:#FFFFFF;
padding-top:3px;
padding-left:35px;
padding-right:10px;
width:132px;
font-size:9pt;
font-style:italic;
}

#s5_search .search {
background:url(../images/s5_search.png) no-repeat top right;
height:34px;
width:202px;
float:right;
}

#s5_date {
float:left;
font-style:italic;
color:#EEEEEE;
font-weight:bold;
padding-top:8px;
margin-right:10px;
}

#s5_login_register_wrap, #s5_header_r_wrap {
float:right;
}

#s5_register, #s5_login {
float:left;
font-weight:bold;
cursor:pointer;
font-style:italic;
color:#EEEEEE;
height:20px;
padding-top:8px;
margin-left:12px;
margin-right:12px;
font-size:9pt;
}

#s5_register {
background:url(../images/s5_register.png) no-repeat center left;
padding-left:20px;
}

#s5_login {
background:url(../images/s5_login.png) no-repeat center left;
padding-left:20px;
}

.s5_wrap_inner_content {
margin-left:-20px;
}

.s5_mod_row_wrap {
margin-left:-20px;
}

#s5_footer_text {
float:left;
padding-top:2px;
}

#s5_bottom_menu {
float:right;
}

#s5_footer_wrap {
height:100%;
}

#s5_main_body_wrap2_inner {
overflow:hidden;
position:relative;
width:100%;
}

#s5_main_body_wrap_inner2 {
width:200%;
}

#s5_main_content_wrap_inner {
left:-100%;
overflow:hidden;
position:relative;
}

#s5_main_content_wrap {
float:left;
left:50%;
position:relative;
width:50%;
}

#s5_right_wrap {
float:left;
}

#s5_left_wrap {
float:left;
left:-50%;
position:relative;
}

.s5_ls_top_bar, .s5_ls_bottom_bar {
background:#000000;
}

#s5_pathway_wrap {
padding-left:12px;
padding-right:12px;
padding-top:10px;
background:url(../images/s5_mod_light_h3.png) repeat-x top left;
position:relative;
height:46px;
margin-top:-15px;
margin-right:-14px;
margin-left:-14px;
}

#s5_pathway_wrap img {
display:none;
}

#form-login li {
padding-left:25px;
background:url(../images/arrow.png) no-repeat left center;
}

/* BOTTOM MENU
----------------------------------------------------------- */

#s5_bottom_menu ul.menu a:hover {
text-decoration:underline;
}

#s5_bottom_menu ul.menu li {
float:left;
padding-left:10px;
}

/* TOP MENU
----------------------------------------------------------- */


#s5_top_menu a {
color:#EEEEEE;
font-weight:bold;
}

#s5_top_menu ul.menu a:hover {
text-decoration:underline;
}

#s5_top_menu ul.menu li {
float:right;
padding-left:7px;
padding-right:7px;
padding-top:17px;
}


/* ACCORDION MENU
----------------------------------------------------------- */

#s5_accordion_menu span {
font-weight:normal;
}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {
color:#55554F;
}

div.s5_accordion_menu_element li li{
padding-left:4px;
}

div.s5_accordion_menu_element li li li{
padding-left:12px;
}

div.s5_accordion_menu_element li a {
background:url(../images/arrow.png) no-repeat left center;
padding-left:20px;
padding-top:8px;
padding-bottom:8px;
display:block;
border-bottom:none;
font-size:9pt;
border-bottom:1px dotted #D3D3D3;
color:#55554F;
}

div.s5_accordion_menu_element li li a {
background:none;
padding-left:6px;
padding-right:6px;
font-size:8pt;
color:#55554F;
border:none;
padding-top:5px;
padding-bottom:5px;
}


span.s5_accordion_menu_left {
background:url(../images/s5_acc_m.png) repeat-x top left;
padding:0px;
padding-left:17px;
padding-right:17px;
padding-top:6px;
display:block;
padding-bottom:6px;
}

#s5_accordion_menu h3.s5_am_open span.s5_accordion_menu_left {
	background:url(../images/s5_acc_act_l.png) no-repeat top left;
	height:40px;
	}
	
#s5_accordion_menu h3.s5_am_not_parent span.s5_accordion_menu_left {
	height:auto;
	}

.s5_am_inner_li span.s5_accordion_menu_left {
padding:0px;
}

.s5_am_innermenu span.s5_accordion_menu_left {
background:none;
}

#s5_accordion_menu ul li {
padding-bottom:0px;
padding-top:0px;
}

#s5_accordion_menu {
	margin:0px;
	margin-top:-20px;
	padding-bottom:20px;
	background:url(../images/s5_acc_m.png) repeat-x bottom left;
	margin-bottom:-6px;
	margin-left:-14px;
	margin-right:-14px;
}

#s5_accordion_menu h3 {
	font-size:11pt;
	margin:0px;
	position:relative;
	width:100%;
	display:block;
	}

#s5_accordion_menu h3.s5_am_parent {
	cursor: pointer;
	background:url(../images/s5_accordion_menu_back_not.png) no-repeat top right;
	padding-right:24px;
	position:relative;
	}
	
#s5_accordion_menu h3.s5_am_open {
	background:url(../images/s5_accordion_menu_back_act.png) no-repeat top right;
	border:none;
	}
	
#s5_accordion_menu h3.s5_am_not_parent {
	cursor: pointer;
	}
	
#s5_accordion_menu h3.s5_am_toggler div {
	margin:0px;
	padding:0px;	}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {	
	width:auto;
	border:none;
	padding:0px;
	margin:0px;	}

div.s5_accordion_menu_element li {	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	}
	
div.s5_accordion_menu_element {
	width:auto;
}
	
ul.s5_am_innermenu {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:12px;
	padding-right:12px;
	margin-left:0px;
	margin-top:0px;	}
	
ul.s5_am_innermenu a:hover {
	text-decoration:underline;
}

#s5_accordion_menu h3.s5_am_not_parent {
background:none;
margin-bottom:0px;
}

#s5_accordion_menu h3.s5_am_parent {
padding-right:0px;
}

#s5_accordion_menu h3.s5_am_parent span.s5_accordion_menu_left {
margin-right:32px;
}



/* COLUMN MENU MIDDLE
----------------------------------------------------------- */

.s5_module_box ul.menu a {
padding:24px;
padding-bottom:6px;
padding-top:6px;
display:block;
background:url(../images/arrow.png) no-repeat left center;
color:#55554F;
border-bottom:1px dotted #D3D3D3;
}

.s5_module_box ul.menu a:hover {
text-decoration:underline;
}

.s5_module_box ul.menu ul a:hover {
text-decoration:underline;
}

.s5_module_box ul.menu ul a {
background:none;
padding:6px;
padding-left:10px;
border-bottom: none;
display:block;
}

.s5_module_box ul.menu ul ul a {
font-size:8pt;
padding:3px;
padding-left:20px;
border-bottom: none;
display:block;
font-weight:normal;
}

.s5_module_box ul.menu #current ul span {
font-weight:normal;
}

.s5_module_box ul.menu li {
padding:0px;

}

.s5_module_box ul.menu li ul li {
margin-left:24px;
}


/* MODULE STYLES
----------------------------------------------------------- */


.s5_module_box .article_separator {
margin:0px;
padding:0px;
margin-bottom:-3px;
}

.s5_module_box .contentpaneopen {
line-height:138%;
margin-bottom:9px;
}

.s5_mod_h3 {
font-size:13pt;
font-weight:normal;
}

.s5_module_box, #s5_component_wrap_area, .s5_module_box-medium, .s5_module_box-dark, .s5_module_box-none, .s5_module_box-light_box, .s5_module_box-dark_box {
padding-left:20px;
margin-bottom:20px;
}

.s5_mods_row_wrap .s5_module_box, .s5_mods_row_wrap .s5_module_box-medium , .s5_mods_row_wrap .s5_module_box-dark, .s5_mods_row_wrap .s5_module_box-none, .s5_mods_row_wrap .s5_module_box-light_box, .s5_mods_row_wrap .s5_module_box-dark_box   {
margin-bottom:0px;
}

#s5_top_2 .s5_module_box, #s5_top_2 .s5_module_box-medium , #s5_top_2 .s5_module_box-dark, #s5_top_2 .s5_module_box-none, #s5_top_2 .s5_module_box-light_box, #s5_top_2 .s5_module_box-dark_box   {
margin-bottom:-20px;
}

.s5_mod_transparent_h3_outer {
background:url(../images/s5_mod_light_h3.png) repeat-x top left;
margin-top:-15px;
margin-left:-14px;
margin-right:-14px;
padding-top:10px;
padding-right:12px;
padding-left:12px;
height:48px;
}

.s5_module_box_tl {
background:url(../images/s5_mod_light_tl.png) no-repeat top left;
height:16px;
padding-left:16px;
}

.s5_module_box_tr {
background:url(../images/s5_mod_light_tr.png) no-repeat top right;
height:16px;
padding-right:16px;
}

.s5_module_box_tm {
background:url(../images/s5_mod_light_tm.png) repeat-x top left;
height:16px;
}

.s5_module_box_ml {
background:url(../images/s5_mod_light_ml.png) repeat-y top left;
padding-left:16px;
}

.s5_module_box_mr {
background:url(../images/s5_mod_light_mr.png) repeat-y top right;
padding-right:16px;
}

.s5_module_box_mm {
background:url(../images/s5_mod_light_mm.png) top left;
width:100%;
}

.s5_module_box_bl {
background:url(../images/s5_mod_light_bl.png) no-repeat bottom left;
height:19px;
padding-left:16px;
}

.s5_module_box_br {
background:url(../images/s5_mod_light_br.png) no-repeat bottom right;
height:19px;
padding-right:16px;
}

.s5_module_box_bm {
background:url(../images/s5_mod_light_bm.png) repeat-x bottom left;
height:19px;
}


.s5_module_box-none div {
background:none;
padding:0px;
}

.s5_module_box-none .s5_mod_transparent_h3_outer {
margin:0px;
height:28px;
padding:0px;
}

.s5_module_box-none .s5_module_box_tl {
display:none;
}

.s5_module_box-none .s5_module_box_bl {
display:none;
}

.s5_module_box-medium .s5_mod_transparent_h3_outer {
background:url(../images/s5_mod_medium_h3.png) repeat-x top left;
}

.s5_module_box-medium .s5_module_box_tl {
background:url(../images/s5_mod_medium_tl.png) no-repeat top left;
}

.s5_module_box-medium .s5_module_box_tr {
background:url(../images/s5_mod_medium_tr.png) no-repeat top right;
}

.s5_module_box-medium .s5_module_box_tm {
background:url(../images/s5_mod_medium_tm.png) repeat-x top left;
}

.s5_module_box-medium .s5_module_box_ml {
background:url(../images/s5_mod_medium_ml.png) repeat-y top left;
}

.s5_module_box-medium .s5_module_box_mr {
background:url(../images/s5_mod_medium_mr.png) repeat-y top right;
}

.s5_module_box-medium .s5_module_box_mm {
background:url(../images/s5_mod_medium_mm.png) top left;
line-height:135%;
}

.s5_module_box-medium .s5_module_box_bl {
background:url(../images/s5_mod_medium_bl.png) no-repeat bottom left;
}

.s5_module_box-medium .s5_module_box_br {
background:url(../images/s5_mod_medium_br.png) no-repeat bottom right;
}

.s5_module_box-medium .s5_module_box_bm {
background:url(../images/s5_mod_medium_bm.png) repeat-x bottom left;
}


.s5_module_box-dark .s5_mod_h3 {
color:#FFFFFF;
}

.s5_module_box-dark .s5_h3_first {
color:#999999;
}

.s5_module_box-dark .s5_mod_transparent_h3_outer {
background:url(../images/s5_mod_dark_h3.png) repeat-x top left;
}

.s5_module_box-dark .s5_module_box_tl {
background:url(../images/s5_mod_dark_tl.png) no-repeat top left;
}

.s5_module_box-dark .s5_module_box_tr {
background:url(../images/s5_mod_dark_tr.png) no-repeat top right;
}

.s5_module_box-dark .s5_module_box_tm {
background:url(../images/s5_mod_dark_tm.png) repeat-x top left;
}

.s5_module_box-dark .s5_module_box_ml {
background:url(../images/s5_mod_dark_ml.png) repeat-y top left;
}

.s5_module_box-dark .s5_module_box_mr {
background:url(../images/s5_mod_dark_mr.png) repeat-y top right;
}

.s5_module_box-dark .s5_module_box_mm {
background:url(../images/s5_mod_dark_mm.png) top left;
color:#BDBDBD;
}

.s5_module_box-dark .s5_module_box_mm a {
color:#999999;
}

.s5_module_box-dark .s5_module_box_bl {
background:url(../images/s5_mod_dark_bl.png) no-repeat bottom left;
}

.s5_module_box-dark .s5_module_box_br {
background:url(../images/s5_mod_dark_br.png) no-repeat bottom right;
}

.s5_module_box-dark .s5_module_box_bm {
background:url(../images/s5_mod_dark_bm.png) repeat-x bottom left;
}


.s5_module_box-light_box .s5_mod_transparent_h3_outer {
background:none;
margin:0px;
padding:0px;
height:30px;
}

.s5_module_box-light_box .s5_module_box_tl {
background:#F1F1F1;
border-left:solid 1px #C9C8C8;
border-top:solid 1px #C9C8C8;
}

.s5_module_box-light_box .s5_module_box_tr {
background:#F1F1F1;
border-right:solid 1px #C9C8C8;
}

.s5_module_box-light_box .s5_module_box_tm {
background:#F1F1F1;
}

.s5_module_box-light_box .s5_module_box_ml {
background:#F1F1F1;
border-left:solid 1px #C9C8C8;
}

.s5_module_box-light_box .s5_module_box_mr {
background:#F1F1F1;
border-right:solid 1px #C9C8C8;
}

.s5_module_box-light_box .s5_module_box_mm {
background:#F1F1F1;
}

.s5_module_box-light_box .s5_module_box_bl {
background:#F1F1F1;
border-left:solid 1px #C9C8C8;
border-bottom:solid 1px #C9C8C8;
}

.s5_module_box-light_box .s5_module_box_br {
background:#F1F1F1;
border-right:solid 1px #C9C8C8;
}

.s5_module_box-light_box .s5_module_box_bm {
background:#F1F1F1;
}


.s5_module_box-dark_box .s5_mod_h3 {
color:#FFFFFF;
}

.s5_module_box-dark_box .s5_h3_first {
color:#999999;
}

.s5_module_box-dark_box .s5_mod_transparent_h3_outer {
background:none;
margin:0px;
padding:0px;
height:30px;
}

.s5_module_box-dark_box .s5_module_box_tl {
background:#2E2E2E;
border-left:solid 1px #000000;
border-top:solid 1px #000000;
}

.s5_module_box-dark_box .s5_module_box_tr {
background:#2E2E2E;
border-right:solid 1px #000000;
}

.s5_module_box-dark_box .s5_module_box_tm {
background:#2E2E2E;
}

.s5_module_box-dark_box .s5_module_box_ml {
background:#2E2E2E;
border-left:solid 1px #000000;
}

.s5_module_box-dark_box .s5_module_box_mr {
background:#2E2E2E;
border-right:solid 1px #000000;
}

.s5_module_box-dark_box .s5_module_box_mm {
background:#2E2E2E;
color:#BDBDBD;
}

.s5_module_box-dark_box .s5_module_box_mm a {
color:#999999;
}

.s5_module_box-dark_box .s5_module_box_bl {
background:#2E2E2E;
border-left:solid 1px #000000;
border-bottom:solid 1px #000000;
}

.s5_module_box-dark_box .s5_module_box_br {
background:#2E2E2E;
border-right:solid 1px #000000;
}

.s5_module_box-dark_box .s5_module_box_bm {
background:#2E2E2E;
}

.jdGallery .slideInfoZone h2 {
color:#FFFFFF;
}